
layout {
    pane split_direction="vertical" {
        pane {
            name "server"
            command "cargo"
            args "run"
        }
        pane  {
            name "terminal"    
        }
    }
}